$icomoon-font-family: "inuicon" !default;
$icomoon-font-path: "fonts" !default;

$icon-presentation: "\e900";
$icon-clipboard: "\e901";
$icon-ellipsis: "\e902";
$icon-copy: "\e903";
$icon-medicine: "\e60c";
$icon-piyo: "\e608";
$icon-egg: "\e609";
$icon-tori-atama: "\e60a";
$icon-tori-home: "\e60b";
$icon-nena: "\e605";
$icon-fish: "\e601";
$icon-fish-bone: "\e602";
$icon-shachihoko: "\e603";
$icon-shrimp: "\e604";
$icon-bone: "\e600";
$icon-mola: "\e000";
$icon-footprint: "\e001";
$icon-niku: "\e606";
$icon-pplog: "\e607";

